.quicksand-normal {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    max-width: 1440px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
}
h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    margin-left: -80px;
}
ul {
    list-style: none;
}
li {
    display: inline;
    margin-right: 32px;
}
a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
}
button {
    min-width: 197px;
    background-color: #fea301;
    color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}
/* shared-style-shit--start */
.About {
    color: #ffffff;
    font-size: 1.25rem;
}

.story-1 {
    background-color: #3cd8e8;
}
.story-2 {
    background-color: #95b226;
}
.story-3 {
    background-color: #5d58f0;
}

.btn {
    max-width: 174px;
    font-size: 1.12rem;
    font-weight: 500;
    position: relative;
    margin-top: -100px;
    margin-left: 50px;
}
.view-all {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 60px;
}

main > section {
    background-image: url("../assets/bg.png");
    margin-top: 60px;
    /* z-index: 97; */
}
.font-size {
    font-size: 0.9rem;
}

.orange {
    color: #fea301;
}
.sky-blue {
    color: #01acfd;
}
.sky {
    color: #05d4df;
}
.dip-sky {
    color: #5d58ef;
}
/* head=section */
.container {
    display: flex;
    max-width: 1160px;
    align-items: center;
    margin: 0 auto;
}
.head-container {
    max-width: 640px;
}
.head-titel {
    max-width: 640px;
    font-size: 3.5rem;
    font-weight: 700;
    margin: auto;
}
.head-description {
    max-width: 640px;
    font-size: 1.25rem;
}
.btn-primary {
    max-width: 197px;
    border-radius: 12px;
    background-color: #111111;
    padding: 10px;
    color: #ffffff;
}
/* card-item- style */

h2 {
    font-size: 2.87rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
}

.card-container {
    max-width: 1160px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    margin: 0 auto;
}

.card {
    max-width: 350px;
    height: 350px;
    border-radius: 18px;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
    /* z-index: 99; */
    text-align: center;
    padding: 50px;
    background-color: #7c76a72c;
}
.card-tital {
    font-size: 1.53rem;
    font-weight: 700;
    color: #202020;
}
.card-description {
    max-width: 280px;
    font-size: 0.9rem;
    color: #808080;
    font-weight: 500;
    line-height: 28px;
}

#icon {
    display: flex;
    gap: 10px;
    margin-top: 50px;
    justify-content: center;
}

i {
    width: 60px;
    height: 20px;
    background-color: #fea301;
    padding: 20px;
    color: #ffffff;
    border-radius: 30px;
}
/* our story style shit */

.story-container,
.contant {
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}

.our-story {
    box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.078);
    border-radius: 16px;
}
.image-title {
    width: 198px;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 28px;
    color: #000000;
}
.story1-titll {
    width: 402px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
}
.story1-description {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 28px;
}
footer {
    background-color: #01acfd;
    max-width: 1440px;
}

.description {
    max-width: 400px;
    font-size: 0.9rem;
    color: #ffffff;
    font-weight: 500;
    line-height: 28px;
}

.part {
    display: flex;
    gap: 80px;
    align-items: center;
}

.foot-container {
    max-width: 1160px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 120px;
}
.add {
    width: 200px;
    font-size: 2rem;
    font-weight: 700;
    margin-left: -80px;
    color: #ffffff;
}

.gap {
    gap: 10px;
}

@media screen and (max-width: 576px) {
    .container {
        flex-direction: column-reverse;
        align-items: baseline;
        display: flex;
    }

    .head-container {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .card-container {
        grid-template-columns: 1fr;
        width: 100%;
        margin-left: 10%;
    }
    h2 {
        text-align: center;
    }
    #icon {
        display: none;
    }
    .story-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .contant {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10%;
        padding: 30px;
    }
    .contant-1 {
        display: none;
    }
    .foot-container {
        /* width: 100%; */
        padding: 30px;
        flex-direction: column;
        justify-content: start;
    }
}
