.quicksand-normal {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    max-width: 1440px;
}
nav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
}
h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    margin-left: -80px;
}
ul {
    list-style: none;
}
li {
    display: inline;
    margin-right: 32px;
}
a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
}
button {
    min-width: 197px;
    background-color: #fea301;
    color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 600;
}
/* shared-style-shit--start */

.orange {
    color: #fea301;
}
.sky-blue {
    color: #01acfd;
}
.sky {
    color: #05d4df;
}
.dip-sky {
    color: #5d58ef;
}
/* head=section */
.container {
    display: flex;
    max-width: 1160px;
    align-items: center;
    margin: 0 auto;
}
.head-container {
    max-width: 640px;
}
.head-titel {
    max-width: 640px;
    font-size: 3.5rem;
    font-weight: 700;
    margin: auto;
}
.head-description {
    max-width: 640px;
    font-size: 1.25rem;
}
.btn-primary {
    max-width: 197px;
    border-radius: 12px;
    background-color: #111111;
    padding: 10px;
    color: #ffffff;
}
