.quicksand-normal {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    max-width: 1440px;
}
nav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
}
h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    margin-left: -80px;
}
ul {
    list-style: none;
}
li {
    display: inline;
    margin-right: 32px;
}
a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
}
button {
    min-width: 197px;
    background-color: #fea301;
    color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}
/* shared-style-shit--start */

main > section {
    background-image: url("../assets/bg.png");
    margin-top: 60px;
    /* z-index: 97; */
}
.font-size {
    font-size: 0.9rem;
}

.orange {
    color: #fea301;
}
.sky-blue {
    color: #01acfd;
}
.sky {
    color: #05d4df;
}
.dip-sky {
    color: #5d58ef;
}
/* head=section */
.container {
    display: flex;
    max-width: 1160px;
    align-items: center;
    margin: 0 auto;
}
.head-container {
    max-width: 640px;
}
.head-titel {
    max-width: 640px;
    font-size: 3.5rem;
    font-weight: 700;
    margin: auto;
}
.head-description {
    max-width: 640px;
    font-size: 1.25rem;
}
.btn-primary {
    max-width: 197px;
    border-radius: 12px;
    background-color: #111111;
    padding: 10px;
    color: #ffffff;
}
/* card-item- style */

h2 {
    font-size: 2.87rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
}

.card-container {
    max-width: 1160px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    margin: 0 auto;
}

.card {
    max-width: 350px;
    height: 350px;
    border-radius: 18px;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
    /* z-index: 99; */
    text-align: center;
    padding: 50px;
    background-color: #7c76a72c;
}
.card-tital {
    font-size: 1.53rem;
    font-weight: 700;
    color: #202020;
}
.card-description {
    max-width: 280px;
    font-size: 0.9rem;
    color: #808080;
    font-weight: 500;
    line-height: 28px;
}

@media screen and (max-width: 576px) {
    .container {
        flex-direction: column-reverse;
        align-items: baseline;
        display: flex;
    }

    .head-container {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .card-container {
        grid-template-columns: 1fr;
        width: 100%;
        margin-left: 10%;
    }
    h2 {
        text-align: center;
    }
}
